body {
  background-color: #fffbe6;
  height: 100vh;
  overflow: hidden;
}
h1 {
  color: #fd5523;
  text-align: center;
  font-size: 100px;
  margin-top: 2%;
}
.circle {
  background-color: #ffccbb;
  width: 70vw;
  height: 140vh;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  left: 15%;
  z-index: -1;
}
.red {
  background-color: #fe5253;
  color: white;
  text-align: center;
  padding-top: 0.75%;
  width: 3vw;
  height: 4.5vh;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 33%;
}
.blue {
  background-color: #00569c;
  color: white;
  text-align: center;
  padding-top: 0.75%;
  width: 3vw;
  height: 4.5vh;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 66%;
}
.victory1 {
  background-color: #ffdf00 /*#d4af37 #b29700*/;
  width: 0.75vw;
  height: 1.5vh;
  border-radius: 50%;
  border: 0.5px solid black;
  display: inline-block;
  margin-left: 0.5%;
  margin-top: -4.5%;
  margin-bottom: 4.5%;
}
.victory1Container {
  margin-left: 31%;
}
.victory2 {
  background-color: #ffdf00 /*#d4af37 #b29700*/;
  width: 0.75vw;
  height: 1.5vh;
  border-radius: 50%;
  border: 0.5px solid black;
  display: inline-block;
  margin-left: 0.75%;
  margin-top: -8%;
  margin-bottom: 8%;
}
.victory2Container {
  margin-left: 64%;
  margin-bottom:1vh;
}
.bigger {
  border: 5px solid black;
}
.container {
  text-align: center;
  /*background-color: yellow #fffbe6  #b9e4c9;
  border-radius: 50%;*/
  margin-left: 19%;
  width: 70vw;
  /*height: 80vh;*/
  overflow: hidden;
}
.vs {
  text-align: center;
  margin-top: -1.75%;
  margin-bottom: 3%;
  font-style: italic;
  font-size: 35px;
}
.redWins {
  text-align: center;
  font-size: 90px;
  margin-top: 13%;
  color: #fe5253;
}
.blueWins {
  text-align: center;
  font-size: 90px;
  margin-top: 13%;
  color: #00569c;
}
.tie {
  text-align: center;
  font-size: 90px;
  margin-top: 13%;
}
.reset {
  border: none;
  background-color: #ffccbb;
  margin-left: 43.5%;
  font-size: 40px;
  cursor: pointer;
}
.redWinner {
  text-align: center;
  font-size: 100px;
  margin-top: 13%;
  color: #fe5253;
}
.blueWinner {
  text-align: center;
  font-size: 100px;
  margin-top: 13%;
  color: #00569c;
}
span {
  color: #fffbe6;
  font-size: 30px;
}
.back {
  float: left;
  width: 100px;
  height: 150px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: #69c9ac /*#b2dfdc #37966f*/;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}
.back:hover {
  background-color: #b9e4c9;
}
.front {
  width: 100px;
  height: 95px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-top: 55px;
  float: left;
  background-color: /*#356859*/#fd5523;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}
.hidden {
  visibility: hidden;
}
